$body-bg: #242424;
$main-color: #120075;
$txt-color: #fff;

$white: #fff;
$black: #000;

$box-shadow: rgba(104, 104, 104, 0.527) 0px 7px 29px 0px;

$border-radius: 15px;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "Montserrat", sans-serif;